.custom-size {
    width: 800px;
    /* Atur lebar sesuai kebutuhan */
  }
  .box-container {
    display: flex;
    gap: 1rem; /* Spasi antara kotak */
    margin-top: 1rem;
  }
  .box {
    flex: 1; /* Membuat kotak memiliki lebar yang sama */
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
/* CSS for Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 70px; /* Menyesuaikan lebar tooltip */
  background-color: #333; /* Warna latar belakang gelap */
  color: #fff; /* Warna teks putih untuk kontras */
  text-align: center;
  border-radius: 4px;
  padding: 8px 12px; /* Menambah padding untuk ukuran yang lebih besar */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px; /* Menyesuaikan margin untuk pusat tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* CSS untuk check box */
.form-checkbox {
  width: 1rem; /* Ukuran checkbox */
  height: 1rem; /* Ukuran checkbox */
  accent-color: #facc15; /* Warna kuning untuk checkbox */
  border-radius: 0.25rem; /* Membuat checkbox lebih bulat */
  border: 2px solid #facc15; /* Border berwarna kuning */
}

.form-checkbox:checked {
  background-color: #facc15; /* Warna latar belakang saat checkbox dicentang */
  border-color: #facc15; /* Warna border saat checkbox dicentang */
}

.form-checkbox:focus {
  outline: none; /* Menghapus outline default saat fokus */
  box-shadow: 0 0 0 2px rgba(250, 204, 21, 0.5); /* Menambahkan efek focus dengan warna kuning */
}

/* Sumbu x grafik */
.wrap-text {
  white-space: normal; /* Allows text to wrap */
  word-break: break-word; /* Ensures long words break and wrap */
}